<header class="w3l-header-nav">
	<!--/nav-->
	<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
		<div class="container">
			<a class="navbar-brand" routerLink="/">
				<img src="assets/images/hotels.png" alt="Your logo" style="height:35px;" /> Hotels</a>
			<!-- if logo is image enable this
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div *ngIf="isLoggedIn()" class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" routerLink="/">Home</a>
					</li>
					<li class="nav-item @@about__active">
						<a class="nav-link" href="about.html">About</a>
					</li>
					<li class="nav-item @@services__active">
						<a class="nav-link" href="services.html">Services</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" href="contact.html">Contact</a>
					</li>
				</ul>
        <div style="margin-right: -70px;">
          <span class="ml-3">Hi, <strong>{{ getUsername() }}</strong>!</span>

          <a routerLink="/book" class="ml-3 btn btn-primary btn-style btn-smaller">Book Now</a>
          <a style="color: aliceblue;" class="ml-3 btn btn-secondary btn-style btn-smaller" (click)="logout()">Logout</a>
        </div>
			</div>
		</div>
	</nav>
	<!--//nav-->
</header>
